<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Latest compiled and minified bootstrap 3 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Топ вакансий по рубрикам</h2>
            <table class="table">
                <thead>
                <tr>
                    <td>Рубрика</td>
                    <td>Кол-во вакансий</td>
                </tr>
                </thead>
                <tbody>
                {% for r in rubrics %}
                    <tr>
                        <td>{{ r.rubric.getTitle() }}</td>
                        <td>{{ r.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <h2>Топ слов по упоминанию их в заголовках вакансий.</h2>
            <table class="table">
                <thead>
                <tr>
                    <td>Слово</td>
                    <td>Кол-во</td>
                </tr>
                </thead>
                <tbody>
                {% for word in words %}
                    <tr>
                        <td>{{ word.word }}</td>
                        <td>{{ word.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</body>
</html>